@font-face {
    font-family: Avenir;
    src: url(../fonts/AvenirLTStd-Book.otf);
}

@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-Light.ttf);
}

@font-face {
    font-family: Mulish;
    src: url(../fonts/Mulish-Light.ttf);
}

.font-avenir {
    font-family: Avenir;
}

.font-montserrat {
    font-family: Montserrat;
}

.font-mulish {
    font-family: Mulish;
}

img {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -ms-transform: translateZ(0);
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.nav-bg {
    background-color: #007EB2;
}

.nav-link-bg {
    background-color: #FF5F40;
}

.nav-link-hover-bg:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.nav-link.nav-link-products span:last-child {
    transform: rotate("0deg");
    transition: all 0.2s;
}

.nav-link.nav-link-products.active span:last-child {
    transform: rotate(90deg);
    transition: all 0.2s;
}


/* --- Dashboard --- */

.content {
    margin-left: 245px;
}

.text-underline-color,
.notic-color {
    background-color: #FF5F40;
}